# Ignore Vim temporary files
.*.sw?

# Ignore config file
config.ini

# Maven
target/

# Vagrant
.vagrant

# IntelliJ
.idea/
*.iml

# Eclipse
.project

# Python
.tox/
__pycache__/
*.pyc

db.sqlite3
migrations/
admin/
manage.py
config.ini

# Localized UWSGI vassal configuration
yang-search.ini
