MAILTO=<MAIL_TO>
SHELL=/bin/bash
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# m h  dom mon dow   command
#
# Yang Search database maintenance
#
*/3 * * * * (cd ~ ; cd scripts ; . ../bin/activate ; export PYTHONPATH=${PYTHONPATH}:/search ; python process-changed-mods.py)
# Don't remove the empty line at the end of this file. It is required to run the cron job
