{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/themes/default/style.min.css"
          integrity="sha256-riSdF36gKV63v22ujIMlNzON5f7AS9MNzwFn0ZgGt0Q=" crossorigin="anonymous"/>
    <style>.abbrCls {
        border-bottom: 1px dotted;
    }

    a.nodeClass i {
        color: #228b22;
    }</style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/jstree.min.js" integrity="sha256-/N7f/1nHQUQkXl4HET7s457ciiCHHjVaa4vWHa7JMWI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstreegrid/3.4.3/jstreegrid.js" integrity="sha384-k28KIGdCGkexoPgDgvfC/11Dz8YLQF4LLZdCcQunuJ1OD/1l2rWWUF00CRr4dz3D" crossorigin="anonymous"></script>
</head>
<body>
<div class="container" role="main">
    <div style="margin-top:20px;" id="alert_container">


        {% for alert in alerts %}
            <div class="row">
                <div class="col-sm-8">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>ERROR!</strong> {{ alert }}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="page-header">
        <h3>{{ title }}</h3>
    </div>
    {% if jstree_json %}
        <div style="margin-bottom: 10px;">
            <b>Module: <span style="color: {{ maturity.color }};">{{ module }}</span>, Namespace:
                <span style="color: {{ maturity.color }};">{{ json_tree.namespace }}</span>, Prefix:
                <span style="color: {{ maturity.color }};">{{ json_tree.prefix }}</span><br/>
                <a href="{% url "search:impact_analysis" %}">Impact Analysis</a> for {{ module }}</b>
        </div>
        <div id="yangtree"></div>
        <script>
            $(document).ready(function () {
                $('#yangtree').jstree({
                    plugins: ['themes', 'json', 'grid'],
                    grid: {
                        resizable: true,
                        draggable: true,
                        columns: [
                            {
                                width: '100%',
                                header: '<b>Element</b> &nbsp;&nbsp;<a href="#" onClick="expandTree();">[+] Expand All</a> <a href="#" onClick="collapseAll();">[-] Collapse All</a>'
                            },
                            {header: '<b>Schema</b>', value: 'schema'},
                            {header: '<b>Type</b>', value: 'type', title: 'type_title', valueClass: 'type_class'},
                            {header: '<b>Flags</b>', value: 'flags'},
                            {header: '<b>Opts</b>', value: 'opts'},
                            {header: '<b>Status</b>', value: 'status'},
                            {header: '<b>Path</b>', value: 'path'},
                        ]
                    },
                    core: {{ jstree_json|safe }}});

                $('#yangtree li').on('click', 'a', function() {
	            document.location.href = this;
	        });
            });


            function expandTree() {
                $('#yangtree').jstree('open_all');
            }

            function collapseAll() {
                $('#yangtree').jstree('close_all');
            }
        </script>
    {% endif %}
</div>
</body>
</html>
